.container{
  width: 900px;
  margin: auto;
}

.text-center{
  text-align: center;
}

.footer{
  background-color: #2c2b2b;
  text-align: center;
  padding: 60px;
}

.footer p{
  color: #6B6C6C;
}

.fa-solid, .fas{
  color: #BF0F12;
}
